body {
	color: #eee;
	background-color: #111;
	font-family: "Fira Sans", sans-serif;
	margin: 0;
}

#content {
	margin: 8px;
	display: flex;
	align-items: center;
	flex-direction: column;
}

#article {
	min-width: 40%;
	width: 64em;
	max-width: 95%;
	/*background-color: rgba(255,255,255,0.05);*/
}

input[type=text] {
  font-family: "Fira Sans", sans-serif;
  font-size: 24px;
  background-color: white;
  background-image: url("https://www.svgrepo.com/download/491473/search.svg");
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 10px;
  color: black;
  border: none;
  width: 80%;
  padding: 10px 10px 10px 60px;
  filter: invert(100%);
}

input[type=text]:focus {
  outline: none;
}

/* MD Elements */

blockquote {
	background-color: #222;
	background-color: rgba(255,255,255,0.1);
	padding-top: 20px;
	padding-right: 30px;
	padding-bottom: 20px;
	padding-left: 30px;
	border-left: 2px solid white;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
}

/*a {
	background: linear-gradient(90deg, rgba(12,7,88,1) 14%, rgba(98,0,81,1) 73%);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}*/

a:link {color: #4760e8;}
a:visited {color: #18ac28;}
a:hover {color: #36cdd5;}
a:active {color: white;}

/* Navbar */

.topnav {
  background: linear-gradient(90deg, rgba(12,7,88,1) 14%, rgba(98,0,81,1) 73%);
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2; /* Render in front of mathjax */
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: rgba(255,255,255,0.05);
}

.topnav a.active {
  background-color: rgba(255,255,255,0.2);
  color: white;
}

/* Code Blocks */

pre:has(code) {
	display: flex;
	overflow-x: auto; /* Scroll box instead of making wider than the page */
	background-color: black;
	border: 1px solid #AAA;
	padding: 5px;
	width: 100%;
}

code {
	font-family: "Fira Code", monospace;
}

code.lineno {
	border-right: 1px solid #AAA;
	padding-right: 5px;
	margin-right: 5px;
	user-select: none; /* Never want to copy line numbers by mistake */
}

p > code {
	background-color: black;
	border: 0.5px solid #AAA;
	padding: 2px;
}

/* Viz.js */

p.graph {
	display: flex;
	align-items: center;
}

p > svg {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.graph > polygon {fill: transparent;}
.node > text {fill: white;}
.node > ellipse {stroke: white;}
.edge > polygon {fill: white;}
.edge > * {stroke: white;}
